<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="flex-column min-100-vh">
    <header class="hero">
        <div class="container">
            <h1>Tech Blog</h1>
            <h2>Where techies blog</h2>
        </div>
    </header>
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><h1 class="app-title"><a href="/">The Tech Blog</a></h1></li>
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <main class="container">
        {{{body}}}
    </main>
    <footer class="flex-row justify-center">
        <div class="container">
            <p>&copy; The Tech Blog</p>
        </div>
    </footer>
    
</body>
<script src="/js/logout.js"></script>

</html>
