<div class="card col-5 m-2 align-items-center p-2">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
        <div class="form-group">
            <label for="name-login">Username</label>
            <input class="form-input" type="text" id="name-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>


<script src="./JS/login.js"></script>